#character-menu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    right: 0px; 
    
   
    z-index: 100;
  }

  #character-menu > ul{
    list-style: none;
    max-width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}



#character-menu > ul > li {
    margin-left: 0px;
  }

#character-menu > ul > li > button {
    background-color: transparent;
    border: solid;
    border-color: burlywood;
    padding: 0;
    width: 2.1cm;
    height: 2.18cm;
    background-color: r;
}
  
#character-menu > ul > li > button:hover {
    cursor: pointer;
}

#character-menu > ul > li > button > img{
    width: 2cm;
    height: 2cm;
}

body {
    background-color: #f5f7f9;
    color: #bcbcbc;
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-size: 17px;
    font-weight: lighter;
    color: #2f2b2b;
    margin: 1em 0 0.5em;
  }
  
  .container {
    
    margin: 0 auto;
    width: 70%;
    margin-right: 100px;
    
  }

  .loading-container{
    margin-right: 25px;
  }


  .progress-bar {
    
    margin: 0 auto;
    width: 130px;
    height: 10px;
    position: fixed;
    
  }
  .progress-bar .progress {
    position: relative;
    background-color: #bd251d;
    height: 10px;
    width: 0%;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: loading;
  }
  .progress-bar .progress .progress-shadow {
    position: absolute;
    height: 4em;
    width: 0%;
    top: 100%;
    transform: skew(-22.5deg);
    transform-origin: 0 0;
  }

  .queue{
    width: 200px;
    
  }

  .queue1, .queue2 , .queue3, .queue4, .queue5{
    border-radius: 30px;
    display: inline-flex;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
    margin-right: 5px;

  }
  
  
  @-webkit-keyframes loading {
    0%, 100% {
      transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes loading {
    0%, 100% {
      transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }