#gameview {
    width: 200vw;
    height: 97.1vh;
    background-image: url("../assets/background.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


